body {
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
  
}

h2 {
  color: #ea1c2c;
  font-weight: 100;
}

.blurb {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 2;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;

}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
  font-weight: 100;
}

#headingGroup span {
  color: #ea1c2c;
} 

#headingGroup {
  font-size: 4rem;
  font-weight: 100;
}

@media(max-width: 1200px) {
  #headingGroup {
    font-size: 3rem;
    font-weight: 100;
  }
}

.content {
  margin-top: 5rem;
}