* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  padding: 2rem;
}
.img-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

img {
  width: 100%;
}

nav {
  text-transform: uppercase;
  border-bottom: .2rem solid #f1f1f1;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}